.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
.card.table-card{
    padding: 0;
}

.card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.card p {
    margin: 10px 0;
    font-size: 2em;
    color: #333;
}

.table-card {
    grid-column: span 2; /* Adjust based on your layout preferences */
    overflow-x: auto;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .dashboard-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card, .table-card {
        flex: 1;
    }

    .table-card {
        overflow: hidden; /* Hide horizontal overflow on small screens */
    }
}
