.navbar {
  display: flex;
  justify-content: space-between; /* Space out items */
  align-items: center;
  padding: 10px 20px;
  background-color: #1e1e2f; /* Matching sidebar background */
  color: #fff; /* Text color for the navbar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure Navbar stays on top */
  border-radius: 8px;
}

.icons-container {
  display: flex;
  align-items: center;
}

.icon {
  position: relative;
  margin: 0 15px; /* Increased margin between icons */
  cursor: pointer;
  color: #fff; /* Icon color */
}

.notification .badge,
.message .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff5722;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.profile img {
  border-radius: 50%;
  margin-right: 10px;
}

.profile span {
  margin-right: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    align-items: center;
    flex-direction: row; /* Ensure content is aligned horizontally */
    justify-content: space-between; /* Space out items */
  }
  .icons-container {
    display: none; /* Hide other icons on small screens */
  }
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items between left and right */
    width: 100%; /* Make sure menu container takes full width */
  }
  .menu-icon {
    margin-right: auto; /* Pushes menu icon to the left */
  }
  .login-button {
    padding: 0;
  }
}
